html {
  background: url("../img/bg.png");
  background-repeat: repeat;
  background-position: center top;
}

body {
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  margin: 0;
  font-family: "Lato", sans-serif;
}

#main {
  max-width: 1000px;
  margin: 0 auto;
}

.hide {
  display: none !important;
}

.slidecheck {
  height: 30px;
  width: 60px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  border: 2px solid #bdbdbd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  margin: 0 auto;
}

.slidecheck > div {
  position: absolute;
  background-color: #e4c049;
  height: 22px;
  width: 22px;
  margin: 2px;
  border-radius: 15px;
  left: 0;
  -webkit-transition: left 0.1s linear;
  transition: left 0.1s linear;
}

.slidecheck.checked {
  background-color: #e4c049;
}

.slidecheck.checked > div {
  background-color: #FFFFFF;
  left: 30px;
}

.slidecheck.disabled {
  background-color: #e0e0e0;
  cursor: initial;
}

.slidecheck.disabled > div {
  background-color: #bdbdbd;
  left: 0;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-grow {
  padding: 10px;
  margin-bottom: 20px;
  min-width: 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.flex-grow:last-child {
  margin-bottom: 0;
}

#filter {
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #FFFFFF;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#filter span {
  width: 100%;
  display: inline-block;
  margin-bottom: 6px;
  text-align: center;
}

#generation-tabs {
  margin: 40px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#generation-tabs > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  min-width: 50px;
  max-width: 100px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 5px 10px 5px;
  border: 2px solid #FFFFFF;
  color: #333333;
}

#generation-tabs > div:hover {
  background-color: #e4c049;
  border: 2px solid #e4c049;
  color: #FFFFFF;
  cursor: pointer;
}

#generation-tabs > div.selected {
  color: #FFFFFF;
  background-color: #bdbdbd;
  border: 2px solid #bdbdbd;
}

#generation-tabs > div.selected:first-child {
  cursor: initial;
}

#main.show_silhouettes .pokedex > div img {
  -webkit-filter: contrast(100%) brightness(100%);
          filter: contrast(100%) brightness(100%);
}

.gen_wrapper {
  background-color: rgba(159, 171, 189, 0.65);
  margin-bottom: 30px;
}

.gen_wrapper .gen_title {
  background-color: #e4c049;
}

.gen_wrapper .gen_title > p {
  text-align: center;
  padding: 20px 0;
  margin: 0;
  color: #FFFFFF;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
}

.gen_wrapper .pokedex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.gen_wrapper .pokedex > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  margin: 5px;
  position: relative;
}

.gen_wrapper .pokedex > div.fade_discovered {
  background: #FFFFFF;
  opacity: 0.3;
  background: none;
}

.gen_wrapper .pokedex > div.fade_discovered > p {
  display: none;
}

.gen_wrapper .pokedex > div .pokemon_img {
  width: 100%;
  position: absolute;
  z-index: 1;
  -webkit-filter: contrast(0%) brightness(0%);
          filter: contrast(0%) brightness(0%);
  cursor: pointer;
}

.gen_wrapper .pokedex > div .pokemon_img:hover {
  opacity: 0.4;
  -webkit-filter: contrast(100%) brightness(100%);
          filter: contrast(100%) brightness(100%);
}

.gen_wrapper .pokedex > div .pokemon_img.discovered {
  -webkit-filter: contrast(100%) brightness(100%);
          filter: contrast(100%) brightness(100%);
}

.gen_wrapper .pokedex > div .pokemon_img.discovered:hover {
  opacity: 1;
  -webkit-filter: contrast(100%) brightness(100%);
          filter: contrast(100%) brightness(100%);
}

.gen_wrapper .pokedex > div .shiny_icon {
  background: url(../img/shiny-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 18px;
  width: 18px;
  top: 3px;
  right: 3px;
  position: absolute;
  z-index: 3;
  pointer-events: none;
}

.gen_wrapper .pokedex > div > p {
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 2px 4px;
  position: absolute;
  font-size: 10px;
  line-height: 12px;
  background-color: rgba(100, 100, 100, 0.2);
  color: #FFFFFF;
  z-index: 2;
  pointer-events: none;
}

[data-type="grass"] {
  background: radial-gradient(#a9f712, #2ecc71);
}

[data-type="fire"] {
  background: radial-gradient(#ffff00, #e65822);
}

[data-type="water"] {
  background: radial-gradient(#70c0f7, #1073a2);
}

[data-type="bug"] {
  background: radial-gradient(#eef76f, #b3d76e);
}

[data-type="normal"] {
  background: radial-gradient(#fff2c0, #deb19c);
}

[data-type="poison"] {
  background: radial-gradient(#a6b8c3, #a27498);
}

[data-type="electric"] {
  background: radial-gradient(#fdff9b, #ecda09);
}

[data-type="ground"] {
  background: radial-gradient(#dab679, #967b4b);
}

[data-type="fairy"] {
  background: radial-gradient(#fedbff, #fb5ed4);
}

[data-type="fighting"] {
  background: radial-gradient(#ffe0a7, #f3a32a);
}

[data-type="psychic"] {
  background: radial-gradient(#e06dd7, #8845c6);
}

[data-type="rock"] {
  background: radial-gradient(#dedede, #959ca6);
}

[data-type="ghost"] {
  background: radial-gradient(#b48fc1, #46345e);
}

[data-type="ice"] {
  background: radial-gradient(#f7ffff, #54cdd4);
}

[data-type="dragon"] {
  background: radial-gradient(#ffa2a2, #a7132e);
}

[data-type="dark"] {
  background: radial-gradient(#68487d, #68487d);
}

[data-type="steel"] {
  background: radial-gradient(#dbe6f1, #738ca6);
}

[data-type="flying"] {
  background: radial-gradient(#a1d8e6, #a1d8e6);
}
/*# sourceMappingURL=all-styles.css.map */